h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.imagecard {
    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    border-radius: 5px;
}

.title {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20pt;
}

div > a {
    display: block;
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20pt;
}
